<div class="spacer"></div>
<form [formGroup]="formGroup!!" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div fxLayout="column" fxLayoutAlign="center center" style="width: 100%;">
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>

  <mat-form-field>
    <input matInput required placeholder="{{ 'Name' | translate }}" formControlName="name">
  </mat-form-field>
</form>

<app-generic-details-save-button
  class="action-bar-second"
  [loading]="loading"
  [routerPath]="routerPath"
  [disabled]="formGroup?.valid === false"
  [isVisible]="isVisible"
  (updateModel)="updateModel()"></app-generic-details-save-button>
